'context-menu':
  'atom-text-editor': [
    {
      'label': 'Open related files'
      'command': 'atom-fellowship:openFellows'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Fellowship'
      'submenu': [{
          'label': 'Open related files'
          'command': 'atom-fellowship:openFellows'
      }]
    ]
  }
]
