'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Atom fellowship'
      'submenu': [{
          'label': 'Open related files'
          'command': 'atom-fellowship:openFellows'
      }, {
          'label': 'Create related files'
          'command': 'atom-fellowship:createFellows'
      }]
    ]
  }
]
