# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Open fellows'
      'command': 'fellowship:openFellows'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Fellowship'
      'submenu': [{
          'label': 'Open fellows'
          'command': 'fellowship:openFellows'
      }]
    ]
  }
]
